.blacklist-banner{
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 999;
    padding: 25px;
    background-color: rgb(255, 0, 0);
    font-size: 1.6em;
}
.blacklist-banner .options-edit-link {
    position: absolute;
    top: 0;
    right: 55px;
}
